---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import
        "variables",
        "mixins/background",
        "mixins/media_query",
        "mixins/bootstrap_grid",
        "mixins/style",
        "helpers/reset",
        "helpers/form",
        "helpers/display",
        "helpers/grid",
        "helpers/media",
        "helpers/space",
        "helpers/text",
        "helpers/setup",
        "syntax-highlighting"
;

/******************************************************************
  Base Typography
******************************************************************/

body {
  @extend %text-regular, %text-s, %line-s, %letter-xxs;
  color: $color-base;
}

.no-scroll {
  overflow: hidden;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

a:active, a:focus {
  outline: 0;
}

hr {
  @extend %margin-vertical-xxl;
  color: $color-line;
  background: $color-line;
  border: none;
  display: block;
  height: $border-l;
}

h1 {
  @extend %text-l, %text-regular;
  @extend %desk-text-xl;
  @extend %desk-text-xxl;
}

/******************************************************************
  Reading Text
******************************************************************/

%reading-text {
  @extend %text-regular, %text-s, %line-l;

  a {
    color: $color-link;
  }

  a:hover {
    color: $color-link-hover;
    text-decoration: underline;
  }

  a:active, a:focus {
    outline: 0;
  }

  hr {
    @extend %margin-vertical-l;
    color: $color-line;
    background: $color-line;
    border: none;
    display: block;
    height: $border-xxs;
  }

  h1 {
    @extend %text-l, %margin-vertical-l, %text-regular, %line-xs;
    @extend %desk-text-xxl, %desk-margin-vertical-xl;
  }

  h2 {
    @extend %text-s, %text-regular, %margin-vertical-l, %line-xs;
    @extend %desk-text-m, %desk-margin-top-xl;
  }

  h3 {
    @extend %text-xs, %text-regular, %margin-vertical-m, %line-xs;
    @extend %desk-text-s, %desk-margin-top-xl, %desk-margin-bottom-l;
    text-transform: uppercase;
  }

  h4 {
    @extend %text-xxs, %text-bold, %margin-bottom-xxs;
    @extend %desk-text-xs;
  }

  blockquote {
    opacity: 0.7;

    p {
      @extend %text-xxs, %text-regular;
    }
  }

  p, li {
    @extend %text-xxs;
    @extend %lap-text-xs;
  }

  p, ul, ol {
    @extend %margin-bottom-s, %desk-margin-bottom-m;
  }

  ul, ol {
    list-style-position: inside;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  code {
	font-family: monaco, monospace;
	font-size: 80%;
	background: $xxix-black;
	color: white;
	padding: 5px;
  }
}

%reading-column {
  @extend %margin-horizontal-m;
  @extend %desk-margin-horizontal-xl;
  @extend %cinema-margin-horizontal-xxl;
  max-width: 780px;
}


/******************************************************************
  Site
******************************************************************/

table {
 @extend %text-xxs;
 @extend %lap-text-xs;

	thead {
		border-bottom: $border-xxs solid $color-line;
		@extend %uppercase;
	}

	td, th {
		padding: 15px;
		border-right: $border-xxs solid lighten( $color-line, 10% );

		&:last-child {
			border-right: none;
		}
	}

	tr {
		border-bottom: $border-xxs solid lighten( $color-line, 10% );
	}
}


/******************************************************************
  Site
******************************************************************/

html, body {
  height: 100%;
}

header {
  @extend %padding-vertical-l, %margin-bottom-xl, %text-s, %uppercase;
  color: $xxix-black;
  background-color: $xxix-yellow;

  a {
    color: inherit;
  }

  .button {
    @extend %text-xs, %padding-all-xxs;
    border: 1px solid $xxix-gray;
    color: $xxix-gray;
    margin-top: -3px;
    float: right;
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }

    span {
      @extend %hide;
      @extend %desk-inline;
    }
  }
}

.wrapper {
  min-height: 100%;
  margin-bottom: -$footer-height;
}

.wrapper:after {
  content: "";
  display: block;
}

footer, .wrapper:after {
  height: $footer-height;
}

footer {
  @extend %text-xxs;
  line-height: $footer-height;
  padding-left: 30px;
  z-index: 100;
  position: relative;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

/******************************************************************
  Modules
******************************************************************/

.mod-post-list {
  @extend %text-xs, %text-bold;
  .post {
    .post-link {
      @extend %padding-horizontal-m;
      border-bottom: 1px solid transparentize($xxix-black, 0.9);
      color: $xxix-black;
      display: block;
      height: $post-link-height;
      line-height: $post-link-height;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;

      &:after {
        @include border-radius(10px);
        @include transition(opacity 0.3s ease-in-out);
        background: $xxix-black;
        content: "";
        height: 10px;
        margin-top: -5px;
        opacity: 0;
        position: absolute;
        right: 20px;
        top: 50%;
        width: 10px;
      }
    }


    &:hover, &.current {
      .post-link {
        &:after {
          opacity: 1.0;
        }
      }
    }
  }
}

/******************************************************************
  Page — Wrapper
******************************************************************/
.page-wrapper {
  position: relative;

  @include desk {
    margin-left: $sidebar-width;
  }
}

/******************************************************************
  Page — Nav
******************************************************************/
.page-nav {
  @include transition(all 0.2s ease-in-out);
  background: $xxix-black;
  min-height: $mobile-nav-height;
  max-height: $mobile-nav-height;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 10;

  &.active {
    background: $xxix-yellow;
    min-height: 100%;
    max-height: 100%;

    .nav-header {
      background: $xxix-yellow;
    }

    .nav-toggle {
      background: $xxix-black;
    }

    .article {
      position: fixed;
      height: 100%;
      width: 100%;
      overflow: scroll;
      overflow-scrolling: touch;
      -webkit-overflow-scrolling: touch;
    }

    footer {
      display: none;
    }
  }

  .nav-header {
    @include transition(all 0.2s ease-in-out);
    background: $xxix-black;
    height: $mobile-nav-height;
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  .logo {
    @include border-box;
    background: transparent url('../img/logo-160x160.png') no-repeat center center;
    background-size: 60px 60px;
    float: left;
    height: 80px;
    margin-top: 10px;
    width: 80px;
  }

  .nav-toggle {
    @include transition(all 0.2s ease-in-out);
    @include border-radius(50px);
    background: $xxix-yellow;
    float: right;
    height: 60px;
    margin: 20px;
    width: 60px;
  }

  &.invert {
    background: $xxix-yellow;

    .nav-header {
      background: $xxix-yellow;
    }

    .nav-toggle {
      background: $xxix-black;
    }
  }

  .posts-wrapper {
    padding-top: $mobile-nav-height + 50px;

    .mod-post-list {
      .post-link  {
        border-width: 0;
      }
    }
  }

  @include desk {
    background: $xxix-yellow;
    height: 100vh;
    max-height: inherit;
    width: $sidebar-width;
    overflow: scroll;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;

    position: fixed;

    .nav-header {
      background: transparent;
      height: auto;
      position: inherit;
    }

    .logo {
      @include border-box;
      background-color: $xxix-black;
      background-image: url('../img/logo-600x600.png');
      background-size: 300px 300px;
      border-right: 1px solid transparentize($xxix-yellow, 0.6);
      float: none;
      height: $sidebar-width;
      width: $sidebar-width;
      margin: 0;
    }

    .nav-toggle {
      display: none;
    }

    .article, .body, .posts-wrapper {
      padding-top: 0;
      min-height: 100%;
    }
  }
}

/******************************************************************
  Page — Introduction
******************************************************************/

.page-introduction {
  .section {
    @include border-box;
    background: $xxix-black;
    color: white;
    min-height: 100vh;

    .head {
      h1 {
        @extend %margin-bottom-xl;
        color: white;

        .client {
          color: $xxix-yellow;
        }
      }

      .date {
        @extend %margin-top-xl;
        display: none;
        position: absolute;
        top: 0;
      }

      .meta {
        @extend %line-l;
        max-width: 360px;
      }
    }
  }

  .article {
    @extend %reading-column;
  }

  @include desk {
    .section {
      padding-top: $sidebar-width + $post-link-height;
      padding-bottom: $sidebar-width;

      .head {
        .date {
          display: block;
        }
      }
    }
  }
}

/******************************************************************
  Page — Post
******************************************************************/

.page-post {
  @include border-box;
  padding-top: $mobile-nav-height;
  min-height: 100vh;
  @extend %reading-text;
  overflow: hidden;

  .article {
    @extend %reading-column;
  }

  &:first-child {
    padding-top: 0 !important;
  }

  img {
    @extend %fluid-img;
    @extend %margin-bottom-l;
    @extend %desk-margin-bottom-xl;
  }

  div {
    position: relative;
  }

  @include desk {
    padding-top: 0;
  }

  @include desk {
    .section {
      padding-right: ($gutter-width - 100) !important;
    }

    blockquote {
      position: absolute;
      right: -($gutter-width) + 30;
      top: 0;
      width: ($gutter-width) - 60;
    }
  }
}

/******************************************************************
  Page — CTA
******************************************************************/
.page-cta {
  @extend %reading-text, %margin-top-xxl;

  .section {
    background: $xxix-black;
    color: white;
  }

  .article {
    @extend %reading-column, %padding-vertical-m;

    a {
      color: $xxix-yellow;
    }

    p {
      @extend %margin-bottom-n;
    }
  }
}
